html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  background-color: antiquewhite;

  --cerise: #494042;
  --ghost-white: #f0eff4ff;
}

.student-card {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  
  max-width: 500px;

  background-color: var(--cerise);
  padding: 1em;
  border: 5px solid var(--dark-purple);
  border-radius: 10px;
  color: var(--ghost-white);
}
